*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#wrapper{
    background: linear-gradient(rgb(207, 63, 63), rgb(42, 175, 42));
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    padding: 0.5rem;
    border-radius: 1rem;
    border: 1px solid;
}